article,
figure,
figcaption,
footer,
hgroup,
header,
section,
nav {
    display: block;
}


* {
    margin: 0px;
    padding: 0px;
    line-height: 1.2em;
    color: black;
    font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
}

div.wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


body {
    background: rgb(153, 204, 255);
}



header {
    display: block;
    margin: 0 auto;
}

header img {
    display: block;
    margin: 0 auto;
}


nav {
    float: left;
    list-style-type: none;
    width: 155px;
    padding: 10px 10px 0px 0px;
    border-top: 1px solid blue;
    border-right: 3px solid blue;
    border-radius: 20px;
    text-indent: 10px;
}

nav li {
    list-style-type: none;
    line-height: 0.9em;
}

nav a {
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

li.newgroup {
    margin-top: 10px;
}



section {
    float: left;
    width: 520px;
    padding: 10px 10px 0px 0px;
    border-top: 1px solid blue;
    border-right: 3px solid blue;
    border-radius: 40px;
}

section h1 {
    color: rgb(175, 72, 28);
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.8em;
    letter-spacing: 2px;
    text-align: center;
}

section p {
    font-size: 14px;
    margin-bottom: 10px;
}

address {
    font-style: normal;
    text-decoration: small-caps;
    color: blue;
    font-size: 10px;
    text-align: center;
    letter-spacing: 3px;
    border-top: 1px solid blue;
    clear: right;
    padding: 5px 0px 20px;
    margin-top: 20px;
}